@{
    ViewBag.Title = "Home Page";
}


  

    <h2>Welcome to My Portfolio </h2>
    <p>This is a brief introduction about myself.</p>
    <p>Siyanda Shoba, born on August 1, 2003, in Tugela Ferry, hails from the vibrant town of Msinga, where he currently resides. As a student at Durban University of Technology, Siyanda is pursuing a Diploma in ICT Application Development. With a passion for technology and innovation, Siyanda is dedicated to honing his skills and knowledge in the field, striving to make a meaningful contribution to the world of information and communication technology. Through his studies and experiences, Siyanda aspires to become a proficient developer, equipped to tackle the challenges and opportunities of the digital age.</p>

